
.ut-blue {
  color: blue;
}
  
.ut-gold {
  color: gold;
}

.ut-purple {
  color: purple;
}

.ut-green {
  color: green;
}

.ut-red {
  color: red;
}
/*  */

.ut-status-InProgress {
  background-color: #14279B !important;
  color: white;
}

.ut-status-NotCompleted {
  background-color: #C32BAD !important;
  color: white;
}

.ut-status-Completed {
  background-color: green !important;
  color: white;
}

.ut-status-Trash {
  background-color: #E02401!important;
  opacity: 0.8;
  color: white;
}