.App {
  text-align: center;
  padding: 40px;
  background-color: #f7f8fd;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Customize styles */

.options__buttons {
  grid-template-columns: 1fr 1fr;
}

.options__cover {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* #12c2e9, #c471ed, #f64f59, */
}

.options__buttons button {
  font-weight: bold;
  color: #5d69b1;
  background-color: #EAECEC;
  margin: 4px;
  border: none;
}

.options__roadmap {
  text-align: start;
}
/*  */
.ut-blue {
  color: blue;
}

.ut-yellow {
  color: yellow;
}

.ut-purple {
  color: purple;
}

.ut-green {
  color: green;
}

.ut-red {
  color: red;
}
/*  */
.options__roadmap span {
  color: gray;
}

.main {
  /*  */
}

.main__add .card {
  background-color: #373e68;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
